syntax: glob
.idea/
.idea/*
build/
*.pyc
cache/
venv/
venv~
python34
logs/
data/
*/__pycache__/
src/local_feed.py
UI/bin/Debug/
UI/bin/Release/
UI/obj/
UI/UI.csproj.user
ZooInstaller/obj/
ZooInstaller/bin/Release/
Python34/
zoo.suo
QtWinUI/QtWinUI.vcxproj.user
QtWinUI/bak*/
QtWinUI/QtWinUI.aps
Qt5.3/
zoo_install.exe
zoo.5.1.ReSharper.user
__log
_ReSharper.zoo\BuildScriptCache\.crc
_ReSharper.zoo\BuildScriptCache\.version
_ReSharper.zoo\NamedArguments\.crc
_ReSharper.zoo\NamedArguments\.version
_ReSharper.zoo\NamedArguments\0\3a4178e5.dat
_ReSharper.zoo\ProjectModel\ProjectModel.dat
_ReSharper.zoo\Resources\.crc
_ReSharper.zoo\Resources\.version
_ReSharper.zoo\SymbolCache.bin
_ReSharper.zoo\TagPrefixes\.crc
_ReSharper.zoo\TagPrefixes\.version
_ReSharper.zoo\TodoCache\.crc
_ReSharper.zoo\TodoCache\.version
_ReSharper.zoo\WebsiteFileReferences\.crc
_ReSharper.zoo\WebsiteFileReferences\.version
_ReSharper.zoo\WordIndex\.crc
_ReSharper.zoo\WordIndex\.version
profile.bat