<div class="form-group">
  <div class="checkbox">
    <label for="engine-enabled">
      <input type="checkbox" id="engine-enabled" {{#if config.enabled}}checked{{/if}} />
      Enabled
    </label>
  </div>
</div>

<h4>Engine configuration</h4>
<div id="engine-parameters-grid">
</div>

<h4>Environment variables</h4>
<div id="engine-environment">
</div>

